:root {
    --dark-bg-color: #130808;
    --light-bg-color: #ffffff;

}

[data-bs-theme="dark"] {
    --bs-body-bg: var(--dark-bg-color);
}

[data-bs-theme="light"] {
    --bs-body-bg: var(--light-bg-color);

}

.fontProductsEuros {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: blueviolet;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.fontProductsDollar {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: green;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fontProductsDollarModal {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
    color: green;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
